.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.FormWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormWrapper > form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
